{% extends "base.html" %}



{% block content %}

{% for todo in object_list %}
        <div class="my-4 text-center">
            <a href="{% url 'todo:info'  todo.pk %}" class="d-inline-block text-decoration-none"> 
            <div class="fs-6 fw-bold">
                {{ todo.title }}
            </div>
            <div class="fs-8 text-muted">
                {{ todo.created_at }}
            </div>
            </a>
        </div>
{% endfor %}

{% include "pagination.html" %}


{% endblock %}